<div class="container">
  <div class="row">
    <%= link_to "Create New Service", new_service_path, class: "btn btn-default" -%>
  </div>
  <div class="row top-20">
    <%- @services.each do |s| -%>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><%= s.name -%></h3>
          </div>
          <div class="panel-body">
            <strong>Description:</strong>
            <%= s.description -%>
            <p>Category: <%= s.category.category -%></p>
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <%= link_to "View", service_path(s.id), class: "btn btn-default" -%>
              <%= link_to "Edit", edit_service_path(s.id), class: "btn btn-default" -%>
            </div>
          </div>
        </div>
      </div>
    <%- end -%>
  </div>
</div>