<div class="container">
  <div class="row">
    <div class="btn-group">
      <%= link_to "Back", services_path, class: "btn btn-default", role: "button" -%>
    </div>
  </div>
  <div class="row top-40">
    <div class="col-md-6">
      <h1><%= @service.name -%></h1>
      <strong>Description:</strong>
      <p><%= @service.description -%></p>
      <p>Category: <%= @service.category.category -%></p>
      <div class="btn-group">
        <%= link_to "Edit", edit_service_path(@service.id), class: "btn btn-default" -%>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#destroyModal">Delete</button>
      </div>
    </div>
  </div>
</div>
<%= render "destroy_modal" -%>