<div class="col-md-6">
  </br>
  <%= form_tag admin_index_path, :method => 'get', :class => 'form' do %>
      <p>
        <%= hidden_field_tag "tab", "skills" %>
        <%= text_field_tag :search, params[:search], class: 'admin-search form-control' %>
        <span class="pull-right"><%= submit_tag "Search", :name => nil, class: 'btn' %></span>
      </p>
  <% end %>
  <%= will_paginate @skills, renderer: BootstrapPagination::Rails %>
  <table class="table">
    <thead>
    <tr>
      <th>Skill</th>
      <th>Details</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @skills.each do |s| %>
        <tr>
          <td><%= s.name %></td>
          <td>
            <div class="btn-group">
              <%= link_to ("<i class='glyphicon glyphicon-remove'></i>").html_safe, { controller: 'skills', action: 'kill_destroy', id: s.id,
                                                                                      return_admin: true, tab_redirect: 'skills' }, method: :delete,
                          data: { confirm: "Are you sure?" } %>
            </div>
          </td>
        </tr>
    <%- end -%>
    </tbody>
  </table>
  <%= link_to 'Add New', create_new_skill_path, return_admin: true, tab_redirect: 'skills', remote: true, class: 'btn btn-warning btn-xs' %>
  </br>
  <%= will_paginate @skills, renderer: BootstrapPagination::Rails %>
</div>
