
  <feildset class="col-md-6">
    <div class="row">
      <legend></legend>
    </div>
      <div class="form-group col-md-6">
        <label for="">Skill Needed</label><br/>
        <%- if @board.skill_needed[0] -%>
          <%= select_tag :skill_needed, options_for_select(@skills, @board.skill_needed[0]) %>
        <%- else -%>
          <%= select_tag :skill_needed, options_for_select(@skills) %>
        <%- end -%>
      </div>
      <div class="form-group col-md-6">
        <label for="">Skills Offered</label>
        <%- @user.skills.each do |s| -%>
          <div class="checkbox">
            <label>
              <input name="skill::<%= s.id -%>" type="checkbox" <%- if @board.skills_offered.include?(s.name) -%> checked <%- end -%>> <%= s.name -%>
            </label>
          </div>
        <%- end -%>
      </div>
      <div class="form-group col-md-6">
        <label for="">When do you need this done by</label><br/>
        <%- if @board.needed_by -%>
          <%= select_date @board.needed_by, prefix: :needed_by -%>
        <%- else -%>
          <%= select_date 1.week.from_now, prefix: :needed_by %>
        <%- end -%>
      </div>
      <div class="form-group col-md-6">
        <label for="">City</label><br/>
        <input type="text" name="city" class="form-control" value="<%= @board.details['city'] if @board.details -%>"/>
      </div>
      <div class="form-group col-md-6">
        <label for="">Contact Email</label><br/>
        <div class="radio">
          <label>
            <%- if @board.details -%>
            <input type="radio" name="contact_email" id="emails" value="<%= @user.email -%>" <%- if @board.details['email'] && @board.details['email'] == @user.email -%>checked<%- elsif !@board.details['email'] -%>checked<%- end -%>>
              <%= @user.email -%>
            <%- else -%>
              <input type="radio" name="contact_email" id="emails" value="<%= @user.email -%>" checked>
              <%= @user.email -%>
            <%- end -%>
          </label>
        </div>
        <%- unless @user.emails.empty? -%>
        <%- @user.emails.each do |e| -%>
          <div class="radio">
            <label>
              <input type="radio" name="contact_email" id="emails" value="<%= e.email -%>">
              <%= e.email -%>
            </label>
          </div>
        <%- end -%>
        <%- end -%>
      </div>
    </div>

    <input type="submit" class="btn btn-primary"/>
  </feildset>
