<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>The Board <small>Be Neighborly</small></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="clo-md-1 btn-group pull-right">
      <% if @user.skills_users.count > 0 %>
        <%= link_to "Add Request", new_board_path, class: 'btn btn-success' %>
      <% else %>
        <%= link_to 'Add Skill', skills_path, class: 'btn btn-success' %><mark>Add a skill to create a new barter request:</mark>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Filter Posts</h3>
        </div>
        <form action="">
        <ul class="list-group" style="margin: 0">
          <li class="list-group-item">
            <div class="form-group">
              <label for="skill_needed">Skill Needed</label>
              <select name="skill_needed" id="skill_needed">
                <%- for skill in @skills -%>
                  <option value="<%= skill -%>"><%= skill -%></option>
                <%- end -%>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group">
              <label for="skill_offered">Skill Offered</label>
              <select name="skill_offered" id="skill_offered">
                <%- for skill in @skills -%>
                  <option value="<%= skill -%>"><%= skill -%></option>
                <%- end -%>
              </select>
            </div>
          </li>
        </ul>
          <div class="panel-footer">
            <input type="submit" value="Filter" class="btn btn-primary" style="margin: 0 auto;display: block;"/>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-10">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
        <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="list">
          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Needing</th>
              <th>Neighbor</th>
              <th>Can Offer</th>
              <th>Needed By</th>
            </tr>
            </thead>
            <tbody>
            <% @board.each do |b| -%>
              <tr>
                <td><%= link_to "View", board_path(b), class: "btn btn-default" -%></td>
                <td><% b.skill_needed.each do |skill| -%><%= skill -%> <%- end -%></td>
                <td><%= b.user.user_info.first_name -%></td>
                <td><% b.skills_offered.each do |skill| -%><%= skill -%>, <%- end -%></td>
                <td><%= b.needed_by.strftime("%D") -%></td>
              </tr>
            <%- end -%>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="map">
          <div id="map" class="col-md-12 top-20" style="min-width: 500px; min-height: 300px;"></div>
          <div class="popup" data-trigger="hover" data-toggle="popover" data-original-title="" title="" data-placement=""></div>
          <div id="popup" style="background: white; padding: 5px; max-width: 80px; boarder-radius: 8px"></div>
        </div>
      </div>

    </div>
  </div>
</div>
