<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1><%= link_to "The Board", boards_path, class: "board-heading" -%></h1>
    </div>
    <div class="row">
      <p><strong><%= @board.user.user_info.first_name -%></strong> needs <strong><%= @board.skill_needed[0] -%></strong> by <strong><%= @board.needed_by.strftime("%D") -%></strong> and can offer <strong><%= format_skills_offered @board.skills_offered -%></strong>.</p>
    </div>
    <%- if @user == @board.user -%>
    <div class="row">
      <div class="btn-group">
        <%= link_to "Edit", edit_board_path(@board), class: "btn btn-warning" -%>
        <%= link_to "Remove", board_path(@board), method: :delete, data: {confirm: "Are you sure you want to remove this?"}, class: "btn btn-danger" -%>
      </div>
    </div>
    <%- end -%>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= react_component('Thread', {thread: @thread, messages: @messages, user_id: @user_id, user_name: @user_name, board_creator_id: @board.user.id}) -%>
  </div>
</div>
