<div class="container">
  <div class="row top-70 bottom-30">
    <div class="col-md-12">
      <img style="display: inline-block; margin-bottom: 13px;" src="<%= gravatar_url(current_user.email, 30) -%>" class="avatar" alt=""/>
      <h2 style="display: inline-block" ><%= ['Awesome', 'Cool', 'Silly', 'Dorky', 'Funky'].sample -%> Dashboard </h2>
    </div>
    <div class="col-md-7">
      <h3>Agreements</h3>
      <table id="agreements-table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Created</th>
                <th>Other Party</th>
                <th>Status</th>
                <th>You Agree</th>
                <th>Agreed by Other Party</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
            <% if @agreements.length > 0 %>
            <% @agreements.each do |agreement| %>
            <tr data-link="<%= edit_agreement_path(agreement) %>">
              <td>
                <%- if agreement.board.user == current_user -%>
                  <img src="<%= gravatar_url(current_user.email, 30) -%>" class="avatar" alt=""/>
                <%- else -%>
                  <img src="<%= gravatar_url(agreement.user.email, 30) -%>" class="avatar" alt=""/>
                <%- end -%>
              </td>
              <td><%= agreement.created_at.strftime("%D") %></td>
              <td>
                <div style="width: 110px;">
                  <%- if agreement.user == current_user -%>
                    <img src="<%= gravatar_url(agreement.board.user.email, 30) -%>" class="avatar pull-left top-5" alt=""/>
                    <p class="pull-left"><%= agreement.board.user.user_info.first_name -%> <br/> <%= agreement.board.user.user_info.last_name -%></p>
                  <%- else -%>
                    <img src="<%= gravatar_url(agreement.user.email, 30) -%>" class="avatar pull-left top-5" alt=""/>
                    <p class="pull-left"><%= agreement.user.user_info.first_name -%> <br/> <%= agreement.user.user_info.last_name -%></p>
                  <%- end -%>
                </div>
              </td>
              <td>
                <%= agreement.status.capitalize %>
              </td>
              <td>
                <% if agreement.user1_agrees %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%- else -%>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <%- end -%>
              </td>
              <td>
                <% if agreement.user2_agrees %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%- else -%>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <%- end -%>
              </td>
              <td>
                <%= agreement.due_date %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="7">NONE</td></tr>
        <% end %>
        </tbody>
      </table>

      <h3>Your Skills</h3>
      <table id="skills-table" class="table table-hover">
        <thead>
        <tr>
          <th>Skill</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% if @skills.length > 0 %>
          <% @skills.each do |s| %>
            <tr>
              <td>
                <%= s.name %>
              </td>
              <td>
                <small><%= link_to 'Delete' , data:  {toggle:"modal", target:"#destroyModal"} %></small>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td>You have not added any skills.  </td></tr></tr>
        <% end %>
        <tr><td><a href="<%= skills_path %>" class="btn btn-primary">Add/Edit</a></td>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h3>Boards Matching Skills</h3>
      <table id="boards-match-table" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Date</th>
          <th>Board</th>
        </tr>
        </thead>
        <tbody>
        <% if @boards_match.length > 0 %>
          <% @boards_match.each do |board| %>
            <tr data-link="<%= board_path(board) %>">
              <td>
                <strong><%= board.created_at.strftime("%D") -%></strong>
              </td>
              <td>
                <p><strong><%= board.user.user_info.first_name -%></strong> needs <strong><%= board.skill_needed[0] -%></strong> by <strong><%= board.needed_by.strftime("%D") -%></strong> and can offer <strong><%= format_skills_offered board.skills_offered -%></strong>.</p>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="2">NONE</td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% unless (cookies[:show_intro] === nil) || (cookies[:show_intro] === false) %>

      <div class="modal" id="introModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Welcome, <%= current_user.user_info.first_name %>, to Bartr!</h4>
            </div>
            <div class="modal-body">
              <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
                  <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="<%= asset_path('intro_carousel/slide1.jpg') %>" data-src="holder.js/700x450/auto/#FFF:#FFF/text:First slide" alt="First slide">
                    <div class="carousel-caption">
                      <p style="font-style: italic; color: #000000">Discover a community needing your skills.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="<%= asset_path('intro_carousel/slide2.jpg') %>" data-src="holder.js/700x450/auto/#FFF:#FFF/text:Second slide" alt="Second slide">
                    <div class="carousel-caption">
                      <p style="font-style: italic; color: #000000">Find the perfect match to exchange skills.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="<%= asset_path('intro_carousel/slide3.jpg') %>" data-src="holder.js/700x450/auto/#FFF:#FFF/text:Third slide" alt="Third slide">
                    <div class="carousel-caption">
                      <p style="font-style: italic; color: #000000">Create an Agreement.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="<%= asset_path('intro_carousel/slide5.jpg') %>" data-src="holder.js/700x450/auto/#777:#555/text:Fifth slide" alt="Fifth slide">
                    <div class="carousel-caption">
                      <p style="font-style: italic; color: #000000">Provide each others' services.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="<%= asset_path('intro_carousel/slide6.jpg') %>" data-src="holder.js/700x450/auto/#777:#555/text:Sixth slide" alt="Sixth slide">
                    <div class="carousel-caption">
                      <p style="font-style: italic; color: #FFFFFF">Your need fulfilled!</p>
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <% cookies.delete :show_intro %>
  <% end %>

</div>
