<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="<%= root_path %>">BARTR</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <%- if current_user -%>
                <li>
                  <p class="navbar-text">Hello, &ensp;<%= current_user.user_info.first_name %></p>
                </li>
              <%- end -%>
              <%- unless current_user -%>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
              <%- end -%>
              <%- if current_user -%>
                <li>
                  <%= link_to 'Boards', boards_path -%>
                </li>
              <%- end -%>
                <%= render 'devise/menus/registration_items' %>
                <%= render 'devise/menus/login_items' %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
